In [50]:
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np 
import pandas as pd
import re
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split

# Phase 0 : exploring the data

In [6]:
df=pd.read_csv("/Users/simone/Downloads/spam.csv",encoding = "ISO-8859-1")

In [7]:
# We drop the redundent looking columns
unuseful = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"]
df = df.drop(df[unuseful], axis=1)

# We rename the columns in order to make them more understandable
df.rename(columns = {"v1":"Target", "v2":"Text"}, inplace = True)
df.head()

  Target                                               Text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

# Phase 1: Data Preprocessing

In order to further process the data, we need to make the data cleaner.

In the first step we extract only the alphabetic characters, so we remove punctuation and numbers. Then we convert all the characters into lowercase.

In [13]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /Users/simone/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [14]:
# pre-process a text : clean, tokenize and stem each word in text
def pre_processing(text):
    lemmatizer=WordNetLemmatizer()
    # removing punctuation, lowercase the text, removing stopwords, map punctuation to space
    translator = str.maketrans(string.punctuation, ' ' * len(string.punctuation))
    p_text = text.translate(translator).lower()
    ppt = ""
    for word in p_text.split():
        if word not in stopwords.words('english'):
            ppt += word + " "
    text = ppt.strip(" ")
    token_words = word_tokenize(text)
    stem_sentence = []
    for word in token_words:
        stem_sentence.append(lemmatizer.lemmatize(word, pos ='v'))
    return ' '.join(stem_sentence)

df["Pre_processed_text"] = df["Text"].apply(pre_processing)

In [17]:
#it creates a list of all the words
bag_words = set()
for sms in df["Pre_processed_text"]:
    #print(sms)
    for w in sms.split(" "):
        if w != "":
            bag_words = bag_words.union({w})
bag = list(bag_words)

# Phase 2: extracting the features

In [21]:
#it returns a list of words for each sms
def split_words(text, bag_words):
    return text.split(" ")

In [22]:
df["Words"] = df["Pre_processed_text"].apply(split_words, args = (bag_words,))

In [60]:
bag_len = len(bag)
def vectorize_sms(words):
    vector = np.zeros(bag_len,dtype="int64")
    for i in range(bag_len):
        if bag[i] in words:
            vector[i] += 1
    return vector
df["Vector"] = df["Words"].apply(vectorize_sms)
df

,Target,Text,Pre_processed_text,Words,Vector
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...,"[go, jurong, point, crazy, available, bugis, n...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,ham,Ok lar... Joking wif u oni...,ok lar joke wif u oni,"[ok, lar, joke, wif, u, oni]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...,"[free, entry, 2, wkly, comp, win, fa, cup, fin...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say,"[u, dun, say, early, hor, u, c, already, say]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think go usf live around though,"[nah, think, go, usf, live, around, though]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,2nd time try 2 contact u u å£750 pound prize 2...,"[2nd, time, try, 2, contact, u, u, å£750, poun...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
5568,ham,Will Ì_ b going to esplanade fr home?,ì b go esplanade fr home,"[ì, b, go, esplanade, fr, home]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
5569,ham,"Pity, * was in mood for that. So...any other s...",pity mood suggestions,"[pity, mood, suggestions]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
5570,ham,The guy did some bitching but I acted like i'd...,guy bitch act like interest buy something else...,"[guy, bitch, act, like, interest, buy, somethi...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
5571,ham,Rofl. Its true to its name,rofl true name,"[rofl, true, name]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [61]:
X=np.zeros((len(df),bag_len),dtype="int64")
for i in range(len(df)):
    X[i]+=df.iloc[i,4]
pd.DataFrame(X,columns=bag)

,rupaul,rightly,evil,tscs08714740323,multiply,09050003091,ocean,anyone,49557,airtel,...,mising,headset,hard,goto,07880867867,09064012160,butt,o2fwd,fresh,african
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
y=np.zeros(len(df),dtype="int64")
for i in range(len(df["Target"])):
    if df.iloc[i,0]=="ham":
        y[i]=0
    else:
        y[i]=1

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, y_train.shape

((4457, 7644), (4457,))

In [66]:
N_yi = np.zeros((2, bag_len)) # feature count
N_y = np.zeros((2)) # total count 
for i in range(len(y_train)):
    # Compute N_y counting the features for each specific class
    N_y[y_train[i]] += np.sum(X_train[i])
    # Compute N_yi adding counting the specific words in each class
    N_yi[y_train[i]] += (X_train[i])
print(N_yi)

[[1. 1. 1. ... 0. 1. 1.]
 [0. 0. 0. ... 2. 0. 0.]]

# Prior

In [68]:
P = np.zeros(2)
classes=np.unique(y_train)
# Implement Prior Probability P(A)
for j in classes:
    P[j] = np.count_nonzero(y_train == j)/(len(y_train))
print(P)

[0.8660534 0.1339466]

# Posterior

In [69]:
posterior_matrix=np.zeros((2,bag_len))
for i in range(bag_len):
    for j in range(2):
        posterior_matrix[j][i]=float((N_yi[j][i] + 1)/(N_y[j] + 2))
print(posterior_matrix)

[[6.72653281e-05 6.72653281e-05 6.72653281e-05 ... 3.36326640e-05
  6.72653281e-05 6.72653281e-05]
 [9.71062342e-05 9.71062342e-05 9.71062342e-05 ... 2.91318703e-04
  9.71062342e-05 9.71062342e-05]]

# Likelihood

In [ ]:
tmp = []
for i in range(x.shape[0]):
    tmp.append(posterior_(x[i], i, h, N_y, N_yi, n_features, alpha))
    # Implement Likelihood
    likelihood = float(np.prod(tmp))    
    return likelihood

In [ ]:
likelihood_matrix=np.zeros((len(X_train),2))
for i in range(len(X_train)):
    for j in range(2):
        likelihood_matrix[j][i]=